



@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Saira", sans-serif;
    background-image: url("space.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.floating-div {
    position: relative;
    background-color: gray;
    padding: 25px;
    width: 60%;
    margin: 0px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}

.profile-img {
    float: right;
    width: 40%;   
    max-width: 400px;
    height: 90%;
    margin: 0 0 1rem 65px; 
    border: 3px solid black;
    pointer-events: auto;
    transition: all .9s ease;
}

.profile-img:hover {
    transform: scale(1.2);
    box-shadow: 20px 20px 50px blue;
}


p {
    margin-bottom: 20px;
    text-indent: 45px;
}

.no_indent{
    text-indent: 0;
}

.name_class {
    font-size: 4rem;
    margin: 0;
    line-height: 1;
}

.rocket_img {
    position: relative;
    display: inline-block;
    height: 3rem;
    transform: none;
    vertical-align: middle;
    pointer-events: none;
}

.under_name{
    border: none;
    border-top: 5px solid black;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

}

table, th, td {
    border: 1px solid black;
    border-spacing: 3px;
    text-align: center;
    column-width: 100px;
    table-layout: fixed;
    width: 100px;
    vertical-align: top;
    border-collapse: collapse;
    border-right: 1px solid black;
}

tr:nth-child(1) {
    background-color: black;
    color: white;
}

td:first{
    background-color: black;
    color: white;
}

th, td {
    padding-right: 3px;
    padding-left: 3px;
    border-right: 1px solid black;
    text-align: center;
}

a:link {
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
}

h1, h2 {
    margin: 0.5rem 0;
    line-height: 1.1;
}

* {
    cursor: default !important;
}


a, button {
    cursor: pointer !important;
}

